@model InTime.Models.Tache

@{
    ViewBag.Title = "Taches";
}

<div>
    @{
        if (TempData["Suppression"] != null)
        {
            if ((int)TempData["Suppression"] == (int)InTime.Models.Messages.RequeteSql.Reussi)
            {
                <h2><font color="green">Votre tâche a été supprimée.</font></h2>
            }
            else
            {
                <h2><font color="red">Une erreur s'est produite. Votre tâche n'a pas été supprimée.</font></h2>
            }
        }
        
        if (TempData["Modification"] != null)
        {
            if ((int)TempData["Modification"] == (int)InTime.Models.Messages.RequeteSql.Reussi)
            {
                <h2><font color="green">Votre tâche a été modifiée.</font></h2>
            }
            else
            {
                    <h2><font color="red">Une erreur s'est produite. Vos modifications sont invalides.</font></h2>
            }
        }
    }
</div>

<ol class="breadcrumb">
    <li>@Html.ActionLink("Accueil", "Index", "Home")</li>
    <li>@Html.ActionLink("Tâches", "TacheForm", "Tache")</li>
    <li class="active">Consulter tâches</li>
</ol>
<h2>Voici vos tâches</h2>

@Html.Partial(@InTime.Models.VuePartielPartager.TableauDonnees)
