@model InTime.Models.Tache

@{
    ViewBag.Title = "Taches";
}

<div>
    @{
        if (ViewBag.Message == InTime.Models.RequeteSql.Message.Reussi)
        {
            <h2><font color="green">Votre tâche a été supprimée.</font></h2>
        }

        if (TempData["Modification"] != null)
        {
            if ((InTime.Models.RequeteSql.Message)Enum.Parse(typeof(InTime.Models.RequeteSql.Message), TempData["Modification"].ToString()) == InTime.Models.RequeteSql.Message.Modif)
            {
                <h2><font color="green">Votre tâche a été modifiée.</font></h2>
            }
            else
            {
                if ((InTime.Models.RequeteSql.Message)Enum.Parse(typeof(InTime.Models.RequeteSql.Message), TempData["Modification"].ToString()) == InTime.Models.RequeteSql.Message.Echec)
                {
                    <h2><font color="red">Une erreur s'est produite. Vos modifications sont invalides.</font></h2>
                }
            }
        }
    }
</div>

<ol class="breadcrumb">
    <li>@Html.ActionLink("Accueil", "Index", "Home")</li>
    <li>@Html.ActionLink("Tâches", "TacheForm", "Tache")</li>
    <li class="active">Consulter tâches</li>
</ol>
<h2>Voici vos tâches</h2>

@Html.Partial("_TableauDonnees")
