<html>
<head>
    <title>a-propos-de-nous</title>
</head>
<body>
    <article>
        <section>
            <h2>Notre objectif</h2>
            <p>
                Notre objectif est de vous offrir des applications qui répondent à vos besoins. Pour se faire, nous développons des produits aux meilleures de nos connaissances.
                Pour cette raison, la qualité de nos produits et la conception adéquate de nos applications sont nos priorités. De cette façon, nous sommes certains de vous satisfaire.
            </p>
        </section>
        <section>
            <h2>Notre application</h2>
            <p>
                InTime est une application sur le web. Mon collègue et moi avions constaté qu’on perdait beaucoup de temps précieux au travail sur l’organisation du travail.
                On n’avait pas vraiment d’outils pratiques qui pouvaient nous permettre de mieux gérer notre temps pour qu’on soit le plus efficace possible. Donc, nous
                avons développé cette application dans le but de mieux gérer notre temps au travail. Pour se faire, InTime offre des outils pratiques qui permettent de gérer,
                d’établir, de modifier et de visualiser votre horaire de travail. De cette façon, vous êtes plus en contrôle de votre environnement et vous êtes en mesure
                de savoir où vous en êtes et où vous vous dirigez.
            </p>
        </section>

        <section>
            <h2>À Propos de nous</h2>
            <h3>Marc-André Gagné</h3>
            <p>
                Un passionné de l’information. Marc-André possède un ordinateur depuis l’âge de 4 ans. C’est à l’âge de 14 ans qu’il fit ses débuts en programmation.
                Cependant, il n’était pas certain de vouloir en faire une carrière. De ce fait, il fit une technique en analyse biomédicale au cégep pour commencer.
                À travers cette technique, il a continué à faire de la programmation dans ses temps libres. D’ailleurs, c’est à force d’en faire qu’il a réalisé vers
                la fin de sa technique qu’il n’était pas à sa place. Il a abandonné sa technique pour se réinscrire en informatique l’année suivante. Il veut ni plus
                ni moins qu’offrir le meilleur de lui-même. Il a sa place dans le domaine et une grande carrière est devant lui.
            </p>
            
            <div style="display:none">
                <h3>Maxime Breton</h3>
                <p>
                    <!-- Maxime doit faire sa partie. Tu auras simplement a enlevé la div quand tu auras fait ta partie-->
                </p>
            </div>
        </section>

    </article>
</body>
</html>
