@{
    ViewBag.Title = "";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
                    @ViewBag.UserName
            </hgroup>
            <p>
                Bienvenue sur l'application Web In Time qui vous aides
                à gérer votre emploi du temps plus facilement.
            </p>
        </div>
    </section>

}
<h3>Nos suggestions:</h3>
<ol class="round">
    <li class="one">
        <h5>Pour Commencer</h5>
        Inscrivez-vous gratuitement ou connectez-vous et profitez de fonctionnalités très utiles!!!
    </li>

    <li class="two">
        <h5>Création de tâches</h5>
        Créer des tâches pour des rencontes, rendez-vous ou pour tout autres raisons.
    </li>

    <li class="three">
        <h5>Consulter</h5>
        Consulter vos tâches et ne soyez jamais en retard.
    </li>
</ol>
