@{
    ViewBag.Title = "TacheForm";
}

<html>
<body>
    <h2>Bonjour, @ViewBag.User</h2>


    <ol class="round">
        <li class="one">
            <h5><a href="/AjouterTache/Index"><font color="blue">Ajouter une tâche</font></a></h5>
            Organisez votre travail avec un calendrier contenant vos tâches que vous devez effectuer.
        </li>
        <li class="two">
            <h5><a href="/ConsulterTache/Index"><font color="blue">Consulter vos tâches</font></a></h5>
            Visualisez les tâches que vous devez faire en sélectionnant la journée de votre choix.
        </li>
    </ol>


</body>
</html>