@{
    ViewBag.Title = "Index";
}


<head>

    <title>Calendrier</title>
    <script>
        $(document).ready(function () {

            // page is now ready, initialize the calendar...
            $('#calendar').fullCalendar({
                // put your options and callbacks here
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,agendaWeek,agendaDay',
                },
                defaultView: 'agendaDay',
                editable: true,
                allDaySlot: false,
                selectable: true,
                allDayDefault: false,
                slotMinutes: 15,
                monthNames: ["Janvier", "Février", "Mars", "Avril", "Mai", "Juin", "Juillet",
                    "Août", "Septembre", "Octobre", "Novembre", "Décembre"],
                monthNamesShort:['Janv','Fév','Mar','Avr','Mai','Juin','Juil','Août','Sep','Oct','Nov','Déc'],
                dayNames: ['Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi', 'Samedi', 'Dimanche'],
                dayNamesShort: ['Lun','Mar','Mer','Jeu','Vend','Sam','Dim'],
                buttonText: {
                    today:'Aujourd\'hui',
                    month:'Mois',
                    week:'Semaine',
                    day:'Jour'
                },

                events: '/Calendrier/Taches'
            });

        });
    </script>
</head>

<body>
    <ol class="breadcrumb">
        <li>@Html.ActionLink("Accueil", "Index", "Home")</li>
        <li>@Html.ActionLink("Tâches", "TacheForm", "Tache")</li>
        <li class="active">Calendrier</li>
    </ol>
    <div id='calendar'></div>
</body>

