@{
    ViewBag.Title = "Index";
}


<head>

    <title>Calendrier</title>
    <script>
        $(document).ready(function () {

            // page is now ready, initialize the calendar...
            $('#calendar').fullCalendar({
                // put your options and callbacks here
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,agendaWeek,agendaDay',
                },
                defaultView: 'agendaDay',
                editable: true,
                allDaySlot: false,
                selectable: true,
                allDayDefault: false,
                slotMinutes: 15,
                monthNames: ["Janvier", "Février", "Mars", "Avril", "Mai", "Juin", "Juillet",
                    "Août", "Septembre", "Octobre", "Novembre", "Décembre"],
                monthNamesShort:['Janv','Fév','Mar','Avr','Mai','Juin','Juil','Août','Sep','Oct','Nov','Déc'],
                dayNames: ['Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi', 'Samedi', 'Dimanche'],
                dayNamesShort: ['Lun','Mar','Mer','Jeu','Vend','Sam','Dim'],
                buttonText: {
                    today:'Aujourd\'hui',
                    month:'Mois',
                    week:'Semaine',
                    day:'Jour'
                },

                events: '@Url.Content("~/Calendrier/Taches")',

                //http://stackoverflow.com/questions/8702058/add-custom-html-to-a-jquery-fullcalendar-cell
                //eventRender: function(event, element) {
                //    element.find(".fc-event-title").remove();
                //    element.find(".fc-event-time").remove();
                //    var new_description =   
                //        moment(event.start).format("HH:mm") + '-'
                //        + moment(event.end).format("HH:mm") + '<br/>'
                //        + event.customer + '<br/>'
                //        + '<strong>Address: </strong><br/>' + "Test1" + '<br/>'      //event.address
                //        + '<strong>Task: </strong><br/>' + "Test2" + '<br/>'         //event.task
                //        + '<strong>Place: </strong>' + "Test3" + '<br/>'             //event.place
                //    ;
                //    element.append(new_description);
                //}
                
            });

        });
    </script>
</head>

<body>
    <div id='calendar'></div>
</body>

